<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="<%= BASE_URL %>favicon-16x16.png">
    <title>Next Meal</title>
    <meta name="application-name" content="Next Meal">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-title" content="Next Meal">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= BASE_URL %>safari-pinned-tab.svg" color="#3C4C5E">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but next-meal doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
