<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex md6 offset-md1 sm6 xs12 class="flex-spacing">
        <v-layout row wrap class="section-head">
          <v-flex xs12>
            <h1 class="headline primary--text">新增餐廳</h1>
          </v-flex>
        </v-layout>
        <v-layout row wrap class="section-main">
          <v-flex xs12>
            <v-text-field
              outline
              label="店名"
              prepend-icon="store"
              color="indigo"
              v-model="name"
              :rules="nameRules"
              required
            ></v-text-field>
            <v-text-field
              label="電話"
              prepend-icon="phone"
              color="indigo"
              v-model="phone"
            ></v-text-field>
            <v-text-field
              label="地址"
              prepend-icon="location_on"
              color="indigo"
              v-model="address"
            ></v-text-field>
            <v-checkbox
              label="是否有外送？"
              v-model="delivery"
              color="indigo"
            ></v-checkbox>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex md4 sm6 xs12 class="flex-spacing">
        <v-layout row wrap class="section-head">
          <v-flex xs6>
            <h1 class="headline primary--text">菜單圖片</h1>
          </v-flex>
          <v-flex xs6 class="text-xs-right">
            <v-btn small dark color="indigo" @click="triggerUploadInput">瀏覽</v-btn>
          </v-flex>
          <input id="input-upload" type="file" @change="onImageFileChange" accept="image/png, image/jpeg"/>
        </v-layout>
        <v-layout row wrap class="section-main">
          <v-flex xs12>
            <v-img max-height="282" contain :src="menuImage" v-show="menuImage !== ''">
              <v-layout pa-2 column fill-height class="lightbox white--text">
                <v-spacer></v-spacer>
                <v-flex shrink>
                  <v-btn icon color="error" @click="removeImage"><v-icon>delete</v-icon></v-btn>
                </v-flex>
              </v-layout>
            </v-img>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex md6 offset-md1 sm6 xs12 class="flex-spacing">
        <v-textarea
          label="備註"
          v-model="comment"
          auto-grow
          color="indigo"
        ></v-textarea>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex md6 offset-md1 sm6 xs12>
        <v-layout>
          <v-flex xs8 class="flex-spacing">
            <v-btn color="primary" block @click="handleSubmit">提交</v-btn>
          </v-flex>
          <v-flex xs4 class="flex-spacing">
            <v-btn block :to="{ name: 'Restaurants' }">返回</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-dialog
      v-model="uploadProgress"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="success"
        dark
      >
        <v-card-text>
          上傳中
          <v-progress-linear
            v-model="uploadStatus"
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { db, storage } from '../db'
import ImageTools from './utils/ImageTools.js'

export default {
  data () {
    return {
      name: '',
      delivery: false,
      phone: '',
      address: '',
      comment: '',
      menuImage: '',
      nameRules: [
        value => !!value || '此欄位必填。'
      ],
      uploadProgress: false,
      uploadStatus: 0,
    }
  },
  methods: {
    triggerUploadInput () {
      document.getElementById('input-upload').click()
    },
    onImageFileChange (e) {
      const files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      ImageTools.resize(files[0], {
        width: 1024,
        height: 1024,
      }, (blob) => {
        this.uploadImage(blob, files[0].name)
      });
    },
    uploadImage (file, name) {
      this.uploadProgress = true
      this.uploadStatus = 0
      const storageRef = storage.ref('menu')
      const fileName = (+new Date()) + '-' + name
      const metadata = {
        contentType: file.type
      }
      const uploadTask = storageRef.child(fileName).put(file, metadata);
      uploadTask.on('state_changed', (snapshot) => {
        this.uploadStatus = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
      }, (error) => {
        this.$store.dispatch('common/showSnackbar', {color: 'error', text: error.message})
        this.uploadProgress = false
      }, () => {
        uploadTask.snapshot.ref.getDownloadURL()
          .then((downloadURL) => {
            this.menuImage = downloadURL
            this.$store.dispatch('common/showSnackbar', {text: '圖片上傳成功。'})
            this.uploadProgress = false
          });
        
      });
    },
    removeImage () {
      this.menuImage = ''
    },
    handleSubmit () {
      this.$store.dispatch('common/startLoading')
      db.collection("restaurants").add({
        name: this.name,
        delivery: this.delivery,
        phone: this.phone,
        address: this.address,
        comment: this.comment,
        menuImage: this.menuImage,
      })
      .then(() => {
        this.$router.push({name: 'Restaurants'})
        this.$store.dispatch('common/stopLoading')
      })
      .catch((error) => {
        this.$store.dispatch('common/showSnackbar', {color: 'error', text: error.message})
        this.$store.dispatch('common/stopLoading')
      });
    },
  },
}
</script>


<style scoped>
.section-head {
  margin: 0px 0px 12px 0px;
}
.section-main {
  margin: 12px 0px;
}
.section-upload {
  margin-top: 32px;
}
.preview-image {
  max-height: 300px;
  max-width: 100%;
}
.btn-trigger-input {
  margin-left: 0px;
}
input[type="file"] {
  display: none;
}
.flex-spacing {
  padding: 0px 12px;
}
</style>