<template>
  <div>
    <v-container fluid id="navbar--search" class="search-bar">
      <v-layout row>
        <v-flex xs7>
          <v-text-field
            solo
            label="搜尋關鍵字"
            append-icon="search"
            v-model="keyword"
          ></v-text-field>
        </v-flex>
        <v-flex xs5 text-xs-right style="line-height: 48px;">
          <v-btn v-if="user" to="insertRestaurant" color="info">新增餐廳</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fluid class="container--restaurants">
      <v-layout row wrap>
        <v-flex
          v-for="(restaurant, index) in filterRestaurant"
          :key="`restaurant${index}`"
          xs6 sm4 md3 lg2>
          <v-card class="card" :tabindex="index" @click="toDetailPage(restaurant._id)">
            <img
              class="img-card"
              v-lazy="restaurant.menuImage"
            >
            <v-card-title class="card-title">
              <div>
                <span class="text--restaurant-name">{{ restaurant.name }}</span>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { db } from '../db'

export default {
  data () {
    return {
      keyword: '',
      restaurants: [],
      prevScrollpos: 0
    }
  },
  created () {
    // Get restaurants data
    db.collection('restaurants').get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          let docData = doc.data()
          docData._id = doc.id
          this.restaurants.push(docData)
        })
      })
      .catch((error) => {
        this.$store.dispatch('common/showSnackbar', {color: 'error', text: error.message})
      })

    // Hide search navbar
    this.prevScrollpos = window.pageYOffset;
    window.addEventListener('scroll', this.hideSearchbar);
  },
  computed: {
    filterRestaurant: function () {
      return this.restaurants.filter((restaurant) => {
        return restaurant.name.toLowerCase().indexOf(this.keyword.toLowerCase()) > -1
      })
    },
    user () {
      return this.$store.state.user.user
    },
  },
  methods: {
    hideSearchbar () {
      const currentScrollPos = window.pageYOffset;
      if (currentScrollPos - this.prevScrollpos > 30) {
        document.getElementById("navbar--search").style.top = "-72px";
      }
      if (currentScrollPos - this.prevScrollpos < -30) {
        document.getElementById("navbar--search").style.top = "58px";
      }
      this.prevScrollpos = currentScrollPos;
    },
    toDetailPage (restaurantId) {
      this.$router.push({name: 'RestaurantDetail', params: {id: restaurantId}})
    },
  }
}
</script>

<style scoped>
.card {
  margin: 8px;
}
.card:focus {
  background-color: #e8f0fd;
  outline: none;
}
.card:focus .text--restaurant-name {
  color: #1967d2;
}
.img-card {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.card-title {
  padding-top: 16px;
}
.search-bar {
  position: fixed;
  top: 58px;
  left: 0;
  background-color: #fafafa;
  z-index: 100;
  line-height: 58px;
  height: 72px;
  padding: 12px 24px;
  transition: top 0.3s;
  z-index: 1;
  border-bottom: 1px solid #EEEEEE;
}
.container--restaurants {
  margin-top: 72px;
  z-index: -1;
}
</style>
