<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex md5 offset-md1 sm6 xs12 class="flex-spacing flex-preview-image">
        <img :src="restaurant.menuImage" class="img-preview" @click="dialog = true" />
      </v-flex>
      <v-flex md5 sm6 xs12 class="flex-spacing">
        <v-layout row wrap class="section-head">
          <v-flex xs12>
            <h1 class="headline indigo--text">{{ restaurant.name }}</h1>
          </v-flex>
        </v-layout>
        <hr>
        <table class="table-data" cellspacing="0" cellpadding="0">
          <tr class="row-hover" @click="searchLocation">
            <td class="col-icon">
              <v-icon color="primary" class="icon-line-height">location_on</v-icon>
            </td>
            <td class="col-content">
              {{ restaurant.address }}
              <a
                v-if="restaurant.address !== ''"
                :href="`https://www.google.com/maps/search/?api=1&query=${restaurant.address}`"
                target="_blank"
                id="link-address"
                class="link-not-show"></a>
              <a
                v-else-if="restaurant.address === ''"
                :href="`https://www.google.com/maps/search/?api=1&query=${restaurant.name}`"
                target="_blank"
                id="link-address"
                class="link-not-show"></a>
            </td>
          </tr>
          <tr class="row-hover" @click="callOut">
            <td class="col-icon">
              <v-icon color="primary" class="icon-line-height">phone</v-icon>
            </td>
            <td class="col-content">
              {{ restaurant.phone }}
              <a
                :href="`tel:${restaurant.phone}`"
                id="link-phone"
                class="link-not-show"></a>
            </td>
          </tr>
          <tr class="row-hover">
            <td class="col-icon">
              <v-icon color="primary" class="icon-line-height">local_shipping</v-icon>
            </td>
            <td class="col-content">
              <template v-if="restaurant.delivery === true">
                有外送
              </template>
              <template v-else-if="restaurant.delivery === false">
                無外送
              </template>
            </td>
          </tr>
          <tr class="row-hover">
            <td class="col-icon">
              <v-icon color="primary" class="icon-line-height">comment</v-icon>
            </td>
            <td class="col-content">
              {{ restaurant.comment }}
            </td>
          </tr>
        </table>
        <v-layout row wrap class="section-button">
          <v-flex xs12 class="text-xs-right">
            <v-btn :to="{ name: 'Restaurants' }">返回</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-dialog
      v-model="dialog"
      max-width="1024"
      scrollable
    >
      <v-card>
        <v-card-text class="text-xs-center">
          <img
            :src="restaurant.menuImage"
            class="img-dialog"
          >
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            flat="flat"
            @click="dialog = false"
          >
            關閉
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { db } from '../db'

export default {
  data () {
    return {
      restaurant: { name: '　' },
      dialog: false,
    }
  },
  created: async function () {
    const restaurantId = this.$route.params.id
    const docRef = db.collection('restaurants').doc(restaurantId)

    docRef.get()
      .then((doc) => {
        if (doc.exists) {
          let docData = doc.data()
          docData._id = doc.id
          this.restaurant = docData
        } else {
          this.$store.dispatch('common/showSnackbar', {color: 'error', text: '無此餐廳。'})
        }
      })
      .catch((error) => {
        this.$store.dispatch('common/showSnackbar', {color: 'error', text: error.message})
      });
  },
  methods: {
    searchLocation () {
      document.getElementById('link-address').click();
    },
    callOut () {
      document.getElementById('link-phone').click();
    },
  }
}
</script>

<style scoped>
.flex-spacing {
  padding: 0px 12px;
}
.flex-preview-image {
  padding-bottom: 24px;
}
.img-preview {
  object-fit: contain;
  width: 100%;
  max-height: 400px;
}
.section-head {
  margin: 0px 0px 24px 15px;
}
hr + .table-data {
  margin: 24px 0px 0px 0px;
}
.table-data {
  table-layout: auto;
  width: 100%;
  border: none;
}
.row-hover:hover {
  background-color: #f5f5f5;
}
.link-not-show {
  display: none;
}
.col-icon {
  width: 54px;
  text-align: center;
  vertical-align: top;
}
.icon-line-height {
  line-height: 54px;
}
.col-content {
  line-height: 54px;
  vertical-align: top;
}
.section-button {
  margin: 12px 0px;
}
.img-dialog {
  max-width: 100%;
}
</style>
