<template>
  <v-app>
    <v-toolbar
      app
      fixed
      clipped-left
      dark
      color="blue-grey darken-4"
      height="58"
      id="toolbar--main"
    >
      <router-link :to="{ name: 'Restaurants' }" class="d-flex">
        <img src="@/assets/toolbar_logo.svg" alt="logo" height="38px" width="38px">
      </router-link>
      <v-toolbar-title class="toolbar-title" v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <span v-if="user" class="displayName">{{ user.displayName }}</span>
      <v-menu offset-x offset-y v-if="user">
        <v-avatar
          slot="activator"
          :size="avatarSize"
          class="grey lighten-4"
        >
          <img :src="user.photoURL" alt="avatar">
        </v-avatar>
        <v-list>
          <v-list-tile @click="signOut">
            <v-list-tile-title><v-icon style="padding-right:15px;">exit_to_app</v-icon> 登出 </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-btn flat dark v-if="!user" :disabled="loading" :loading="loading" @click="signInWithGoogle">
        登入
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-fade-transition mode="out-in">
        <router-view/>
      </v-fade-transition>
    </v-content>
    <loading-screen
      :show="loading"
      label="Loading...">
    </loading-screen>
    <v-snackbar
      v-model="snackbar.show"
      :top="snackbar.top"
      :multi-line="snackbar.multiLine"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
    >
      {{ snackbar.text }}
      <v-btn
        color="white"
        flat
        @click="hideSnackbar()"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import loadingScreen from 'vue-full-loading'

export default {
  name: 'App',
  data () {
    return {
      title: 'NEXT MEAL',
      avatarSize: 40,
      prevScrollpos: 0
    }
  },
  components: {
    loadingScreen,
  },
  created () {
    this.prevScrollpos = window.pageYOffset;
    window.addEventListener('scroll', this.hideToolbar);
  },
  computed: {
    user () {
      return this.$store.state.user.user
    },
    loading () {
      return this.$store.state.common.loading
    },
    snackbar () {
      return this.$store.state.common.snackbar
    },
  },
  methods: {
    signInWithGoogle () {
      this.$store.dispatch('user/signInWithGoogle')
    },
    signOut () {
      this.$store.dispatch('user/signOut')
    },
    hideSnackbar () {
      this.$store.dispatch('common/hideSnackbar')
    },
    hideToolbar () {
      const currentScrollPos = window.pageYOffset;
      if (currentScrollPos - this.prevScrollpos > 30) {
        document.getElementById("toolbar--main").style.top = "-58px";
      }
      if (currentScrollPos - this.prevScrollpos < -30) {
        document.getElementById("toolbar--main").style.top = "0";
      }
      this.prevScrollpos = currentScrollPos;
    }
  },
}
</script>

<style scoped>
  #toolbar--main {
    z-index: 100;
  }
  .toolbar-title {
    font-weight: 300;
    margin-left: 10px;
  }
  .displayName {
    margin-right: 10px;
  }
  .d-flex {
    display: flex !important;
  }
</style>